body {
  background-color: bisque;
}

#home-block {
  display: flex;
  flex-direction: column;
  margin: 20% auto;
  background-color: rgb(4, 21, 36);
  width: 50%;
  height: 50%;
  text-align: center;
  color: whitesmoke;
  border: 4px whitesmoke outset;
}

.home-link {
  font-size:  24px;
  text-decoration: none;
  color: inherit;
  margin: 3% auto; 
}

.play-button {
  font-size: 40px;
  width: 25%;
  align-self: center;
  margin-top: 5%;
  margin-bottom: 10%;
  cursor: pointer;
}