body {
  background-color: bisque;
}

#home-block {
  margin: auto auto;
  background-color: rgb(4, 21, 36);
  width: 50%;
  height: 50%;
  text-align: center;
  color: whitesmoke;
  border: 4px whitesmoke outset;
}